<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script></script>
  </head>
  <body>
    <h1>Home</h1>
    <p>Welcome to <%= username %></p>
  </body>
</html>
